<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="com.slim.device"
          android:versionCode="1"
          android:versionName="1" >

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
            android:targetSdkVersion="27" />

    <application android:label="@string/advanced_settings">

        <!-- stub to ensure its loaded - DO NOT REMOVE -->
        <activity android:name=".KeyHandler" />

        <activity
            android:name=".settings.ScreenOffGestureSettings"
            android:label="@string/offscreen_gesture_title"
            android:theme="@style/DeviceHandlerTheme">
        </activity>

         <activity
            android:name=".settings.DeviceSettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/advanced_settings"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_device_parts" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/advanced_settings_summary" />
        </activity>

        <activity-alias
            android:name=".settings.DeviceSettings"
            android:label="@string/advanced_settings"
            android:targetActivity=".settings.DeviceSettingsActivity">
        </activity-alias>

        <receiver android:name=".BootReceiver" >
          <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>

    </application>

</manifest>
